[data-ral='9003']{background-color: #fefefe;}
[data-ral='8017']{background-color: #44322d;}
[data-ral='8004']{background-color: #8f4e35;}
[data-ral='7024']{background-color: #474a50;}
[data-ral='7005']{background-color: #6b716f;}
[data-ral='7004']{background-color: #9ea0a1;}
[data-ral='6005']{background-color: #0f4336;}
[data-ral='6002']{background-color: #276235;}
[data-ral='5021']{background-color: #07737a;}
[data-ral='5005']{background-color: #154889;}
[data-ral='5002']{background-color: #2b2c7c;}
[data-ral='3011']{background-color: #7e292c;}
[data-ral='3009']{background-color: #703731;}
[data-ral='3005']{background-color: #5e2028;}
[data-ral='3003']{background-color: #8d1d2c;}
[data-ral='2004']{background-color: #e75b12;}
[data-ral='1018']{background-color: #f3e03b;}
[data-ral='1015']{background-color: #eadebd;}
[data-ral='1014']{background-color: #ded09f;}
[data-ral='zn']{background-color: #e7e7e7;}
