[data-ral='9003']{background-color: #fefefe;}
[data-ral='8017']{background-color: #44322d;}
[data-ral='8004']{background-color: #8f4e35;}
[data-ral='7024']{background-color: #474a50;}
[data-ral='7005']{background-color: #6b716f;}
[data-ral='7004']{background-color: #9ea0a1;}
[data-ral='6005']{background-color: #0f4336;}
[data-ral='6002']{background-color: #276235;}
[data-ral='5021']{background-color: #07737a;}
[data-ral='5005']{background-color: #154889;}
[data-ral='5002']{background-color: #2b2c7c;}
[data-ral='3011']{background-color: #7e292c;}
[data-ral='3009']{background-color: #703731;}
[data-ral='3005']{background-color: #5e2028;}
[data-ral='3003']{background-color: #8d1d2c;}
[data-ral='2004']{background-color: #e75b12;}
[data-ral='1018']{background-color: #f3e03b;}
[data-ral='1015']{background-color: #eadebd;}
[data-ral='1014']{background-color: #ded09f;}
[data-ral='zn']{background-color: #e7e7e7;}

[data-ral='blue']{background-color: #304357;}
[data-ral='green']{background-color: #494b3e;}
[data-ral='brown']{background-color: #4c3633;}
[data-ral='red']{background-color: #722f32;}


[data-ral='hvost_osenniy']{background-color: #957058;}
[data-ral='hvost_krasnyy']{background-color: #d77966;}
[data-ral='hvost_osenniy']{background-color: #9e9d95;}
[data-ral='hvost_zelenyy']{background-color: #6b7769;}

[data-ral='vestern_kanjon']{background-color: #7f706b;}
[data-ral='vestern_klondayk']{background-color: #9c8272;}
[data-ral='vestern_niagara']{background-color: #757884;}
[data-ral='vestern_preriya']{background-color: #978b82;}

[data-ral='alikante']{background-color: #978a70;}
[data-ral='indigo']{background-color: #d4ccc1;}
[data-ral='kastiliya']{background-color: #acb7b1;}
[data-ral='korrida']{background-color: #99806e;}
[data-ral='seviljya']{background-color: #847976;}
[data-ral='toskana']{background-color: #928f76;}


[data-ral='korichnevyy']{background-color: #;}
[data-ral='krasnyy']{background-color: #a4695b;}
[data-ral='seryy']{background-color: #a4695b;}
[data-ral='zelenyy']{background-color: #606654;}


