.green {
  color: #16a22c; }

.red {
  color: #b01515; }

.blue {
  color: #7e96a2; }

body {
  padding: 0;
  margin: 0; }

* {
  box-sizing: border-box; }

ul {
  list-style: none;
  margin: 0;
  padding: 0; }

a {
  text-decoration: none; }

p {
  margin: 0;
  padding: 0;
  margin-bottom: 10px;
  text-align: left;
  line-height: 17px;
  color: #3F3F3F;
  font-family: "Exo 2";
  font-size: 14px;
  font-weight: 300; }

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0; }

h1 {
  color: #6C8795;
  font-family: 'Exo 2 Condensed', sans-serif;
  font-size: 48px;
  line-height: 36px;
  font-weight: 400;
  text-transform: uppercase; }

h3 {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 700; }

img, video {
  max-width: 100%;
  height: auto; }

.conf-menu-icon, .detail-info_body, .detail-info-show, .conf-menu_item, .conf-menu_item:hover .conf-menu_link, .conf-menu_item:hover .conf-menu-icon, .conf-properties_btn, .conf-properties_btn:hover, .conf-current, .conf-color_item, .color_is-active {
  transition: all .2s ease-out; }

.l-layout {
  max-width: 970px;
  padding-bottom: 1px;
  margin: 0 auto;
  position: relative; }

input {
  bottom: 0;
  outline: 0;
  border: 1px solid #CCC;
  border-radius: 4px;
  padding: 10px 15px;
  width: 100%; }

input[type="radio"],
input[type="checkbox"] {
  bottom: 0;
  outline: 0;
  border: 1px solid #CCC;
  border-radius: 4px;
  padding: 10px 15px;
  width: auto; }

.vk svg:hover #vk {
  fill: #4d76a1; }

.fb svg:hover #fb {
  fill: #3b5998; }

.ok svg:hover #ok {
  fill: #f58220; }

.vk, .fb, .ok {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-size: auto 17px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  margin-right: 5px; }

.is-visible {
  display: block !important; }

.hidden {
  opacity: 0; }

.visible {
  opacity: 1; }

/* Generated by Font Squirrel (https://www.fontsquirrel.com) on December 5, 2016 */
@font-face {
  font-family: 'robotoblack';
  src: url("../fonts/roboto-black-webfont.woff2") format("woff2"), url("../fonts/roboto-black-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'robotoblack_italic';
  src: url("../fonts/roboto-blackitalic-webfont.woff2") format("woff2"), url("../fonts/roboto-blackitalic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'robotobold';
  src: url("../fonts/roboto-bold-webfont.woff2") format("woff2"), url("../fonts/roboto-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'robotobold_italic';
  src: url("../fonts/roboto-bolditalic-webfont.woff2") format("woff2"), url("../fonts/roboto-bolditalic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'robotoitalic';
  src: url("../fonts/roboto-italic-webfont.woff2") format("woff2"), url("../fonts/roboto-italic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'robotolight';
  src: url("../fonts/roboto-light-webfont.woff2") format("woff2"), url("../fonts/roboto-light-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'robotolight_italic';
  src: url("../fonts/roboto-lightitalic-webfont.woff2") format("woff2"), url("../fonts/roboto-lightitalic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'robotomedium';
  src: url("../fonts/roboto-medium-webfont.woff2") format("woff2"), url("../fonts/roboto-medium-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'robotomedium_italic';
  src: url("../fonts/roboto-mediumitalic-webfont.woff2") format("woff2"), url("../fonts/roboto-mediumitalic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'robotoregular';
  src: url("../fonts/roboto-regular-webfont.woff2") format("woff2"), url("../fonts/roboto-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'robotothin';
  src: url("../fonts/roboto-thin-webfont.woff2") format("woff2"), url("../fonts/roboto-thin-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'robotothin_italic';
  src: url("../fonts/roboto-thinitalic-webfont.woff2") format("woff2"), url("../fonts/roboto-thinitalic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

/**/
@font-face {
  font-family: 'roboto_condensedbold';
  src: url("../fonts/robotocondensed-bold-webfont.woff2") format("woff2"), url("../fonts/robotocondensed-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'roboto_condensedbold_italic';
  src: url("../fonts/robotocondensed-bolditalic-webfont.woff2") format("woff2"), url("../fonts/robotocondensed-bolditalic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'roboto_condenseditalic';
  src: url("../fonts/robotocondensed-italic-webfont.woff2") format("woff2"), url("../fonts/robotocondensed-italic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'roboto_condensedlight';
  src: url("../fonts/robotocondensed-light-webfont.woff2") format("woff2"), url("../fonts/robotocondensed-light-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'roboto_condensedlight_italic';
  src: url("../fonts/robotocondensed-lightitalic-webfont.woff2") format("woff2"), url("../fonts/robotocondensed-lightitalic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'roboto_condensedregular';
  src: url("../fonts/robotocondensed-regular-webfont.woff2") format("woff2"), url("../fonts/robotocondensed-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

html {
  height: 100%;
  margin: 0;
  padding: 0; }

*,
*::after,
*::before {
  box-sizing: border-box; }

@-webkit-keyframes conf_transparent {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes conf_transparent {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

.conf-bg {
  min-height: 100%;
  background-size: cover;
  display: none;
  -webkit-animation: conf_transparent 3s;
          animation: conf_transparent 3s; }

/*icon*/
.icon {
  margin-right: 4px; }

.arrow-icon {
  width: 8px;
  height: 8px;
  fill: #FFF; }

.conf-menu-icon {
  display: inline-block;
  fill: #cbcbcb; }

/*========================*/
/*menu icon*/
/*========================*/
.roof-icon {
  width: 68px;
  height: 26px; }

.facade-icon {
  width: 51px;
  height: 36px; }

.drains-icon {
  width: 47px;
  height: 31px; }

.plinth-icon {
  width: 63px;
  height: 29px; }

.fences-icon {
  width: 63px;
  height: 31px; }

.angles-icon {
  width: 67px;
  height: 41px; }

.porch-icon {
  width: 43px;
  height: 16px; }

.plat-icon {
  width: 23px;
  height: 41px; }

/**/
.conf-roof {
  background: url("../img/gibkaya-cherepitsa_bobrovyiy-hvost_krasnyiy.png") 0 0 no-repeat; }

/**/
.conf-btn {
  display: inline-block;
  padding: 6px 8px;
  border: 1px solid #5598DE;
  color: #000;
  border-radius: 4px;
  font-family: "Calibri";
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase; }
  .conf-btn--bg {
    border: none;
    background-color: #5598de;
    color: #fff; }

.detail-info_btn {
  color: #000;
  font-family: "Calibri";
  font-size: 12px;
  font-weight: 400;
  border-bottom: 1px dotted #000; }

/*detail-info*/
.detail-info {
  position: absolute;
  overflow: hidden;
  top: 24px;
  right: 24px;
  width: 482px;
  border-radius: 4px;
  font-family: "Arial";
  z-index: 999; }

.detail-info_top {
  position: relative;
  z-index: 2;
  padding: 10px 14px;
  background-color: #FFF;
  height: 50px; }
  .detail-info_top::after {
    content: '';
    display: block;
    clear: both; }

.detail-info_logo {
  float: left;
  width: 115px;
  height: 32px;
  background: url("../img/logo-detail.png") 0 0 no-repeat; }

.detail-info_text {
  color: #797878;
  font-family: "Calibri";
  font-size: 11px;
  font-weight: 400; }

.detail-info_right {
  float: right;
  text-align: right; }

.detail-info_body {
  padding: 18px 14px;
  opacity: 0.9;
  background-color: #FFF;
  -webkit-transform: translateY(-2000px);
      -ms-transform: translateY(-2000px);
          transform: translateY(-2000px); }

.detail-info-show {
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0); }

.detail-info_list {
  margin-left: 14px;
  margin-bottom: 18px; }

.detail-info_item {
  margin-bottom: 10px;
  font-size: 0; }

.detail-info_point {
  font-family: "Arial";
  color: #222;
  font-size: 12px;
  font-weight: 700; }

.detail-info_properties {
  font-family: "Arial";
  color: #5798E2;
  font-size: 12px;
  font-weight: 700;
  text-decoration: underline;
  padding: 0px 4px;
  border-right: 1px solid #000; }
  .detail-info_properties:last-child {
    border: none; }

/*conf-menu*/
.conf-menu {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  padding: 0 6px;
  padding-top: 19px;
  background-color: #fff;
  text-align: center;
  font-family: "Arial";
  z-index: 999; }

.conf-menu_item {
  color: #000;
  margin: 26px 0; }

.conf-menu_link {
  width: 68px;
  display: block;
  position: relative; }

.js-show-pointer::after {
  content: '';
  position: absolute;
  top: 50%;
  margin-top: -4px;
  right: -26px;
  border: 8px solid transparent;
  border-right-color: #ffffff; }

.conf-menu_item:hover .conf-menu_link {
  color: #5598DE; }

.conf-menu_item:hover .conf-menu-icon {
  fill: #5598DE; }

.conf-menu_title {
  font-size: 11px;
  font-weight: 700;
  margin-bottom: 5px; }

/*conf-submenu*/
.conf-submenu {
  position: absolute;
  top: 0;
  left: 100px;
  width: 316px;
  padding: 19px;
  padding-top: 50px;
  height: 100%;
  background-color: #fff;
  text-align: left;
  display: none; }

.conf-submenu_title {
  color: #5598DE;
  font-family: "roboto_condensedbold";
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 15px; }

.conf-submenu_close {
  position: absolute;
  top: 14px;
  right: 16px;
  width: 10px;
  height: 10px;
  background: url("../img/close-icon.png") 0 0 no-repeat; }

/*javascript*/
.js-show-conf-submenu {
  display: block; }

/**/
.conf-properties {
  margin-bottom: 24px; }

.conf-properties_title {
  color: #454545;
  font-family: "Roboto";
  font-size: 12px;
  font-weight: 400;
  margin-bottom: 4px; }

.conf-properties_subtitle {
  color: #1B1B1B;
  font-family: "Roboto";
  font-size: 12px;
  font-weight: 100;
  font-style: italic;
  margin-bottom: 4px; }

.conf-properties_btn {
  display: inline-block;
  padding: 5px 13px;
  color: #1B1B1B;
  font-family: "Roboto";
  font-size: 12px;
  font-weight: 400;
  background-color: #D1D1D1;
  border-radius: 50px;
  margin-bottom: 6px; }
  .conf-properties_btn:hover {
    background-color: #5598DE;
    color: #fff; }

/*conf-curren*/
.conf-current {
  background-color: #5598DE;
  color: #fff; }

.conf-block {
  position: absolute;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 50%; }

.conf-block_img {
  max-width: 100%;
  height: auto;
  position: relative;
  top: -25%; }

/*conf-color_item*/
.conf-color_item {
  display: inline-block;
  width: 30px;
  height: 30px;
  background-color: #ccc;
  margin-right: 3px;
  margin-bottom: 3px;
  border: 1px solid #D4D4D4; }

.color_is-active {
  border: 1px solid #D4D4D4;
  -webkit-transform: scale(0.8);
      -ms-transform: scale(0.8);
          transform: scale(0.8); }

@-webkit-keyframes bounce {
  0% {
    -webkit-transform: translateY(-2000px);
    -ms-transform: translateY(-2000px);
    transform: translateY(-2000px); }
  100% {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0); } }

@keyframes bounce {
  0% {
    -webkit-transform: translateY(-2000px);
    -ms-transform: translateY(-2000px);
    transform: translateY(-2000px); }
  100% {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0); } }

.c-1014 {
  background-color: #ded09f; }

.c-1015 {
  background-color: #eadebd; }

.c-1018 {
  background-color: #f3e03b; }

.c-2004 {
  background-color: #e75b12; }

.c-3003 {
  background-color: #8d1d2c; }

.c-3005 {
  background-color: #5e2028; }

.c-3009 {
  background-color: #703731; }

.c-3011 {
  background-color: #7e292c; }

.c-5002 {
  background-color: #2b2c7c; }

.c-5005 {
  background-color: #154889; }

.c-6002 {
  background-color: #07737a; }

.c-6005 {
  background-color: #276235; }

.c-7004 {
  background-color: #0f4336; }

.c-7005 {
  background-color: #9ea0a1; }

.c-7024 {
  background-color: #6b716f; }

.c-9003 {
  background-color: #474a50; }

.c-8017 {
  background-color: #8f4e35; }
