.ral-9003{background-color: #fefefe;}
.ral-8017{background-color: #44322d;}
.ral-8004{background-color: #8f4e35;}
.ral-7024{background-color: #474a50;}
.ral-7005{background-color: #6b716f;}
.ral-7004{background-color: #9ea0a1;}
.ral-6005{background-color: #0f4336;}
.ral-6002{background-color: #276235;}
.ral-5021{background-color: #07737a;}
.ral-5005{background-color: #154889;}
.ral-5002{background-color: #2b2c7c;}
.ral-3011{background-color: #7e292c;}
.ral-3009{background-color: #703731;}
.ral-3005{background-color: #5e2028;}
.ral-3003{background-color: #8d1d2c;}
.ral-2004{background-color: #e75b12;}
.ral-1018{background-color: #f3e03b;}
.ral-1015{background-color: #eadebd;}
.ral-1014{background-color: #ded09f;}
.ral-zn{background-color: #e7e7e7;}

.blue{background-color: #304357;}
.green{background-color: #494b3e;}
.brown{background-color: #4c3633;}
.red{background-color: #722f32;}

.granada{background-color: #d38161;}
.aragone{background-color: #7f7773;}

.hvost_osenniy{background-color: #ab7d60;}
.hvost_krasnyy{background-color: #d77966;}
.hvost_zelenyy{background-color: #85817e;}
.hvost_pangovyy{background-color: #7a7f8c;}

.vestern_kanjon{background-color: #7f706b;}
.vestern_klondayk{background-color: #9c8272;}
.vestern_niagara{background-color: #757884;}
.vestern_preriya{background-color: #978b82;}

.alikante{background-color: #978a70;}
.indigo{background-color: #d4ccc1;}
.kastiliya{background-color: #acb7b1;}
.korrida{background-color: #99806e;}
.seviljya{background-color: #847976;}
.toskana{background-color: #928f76;}


.korichnevyy{background-color: #a45f00;}
.krasnyy{background-color: #a4695b;}
.seryy{background-color: #a4695b;}
.zelenyy{background-color: #606654;}

/*fasad_kamenj*/
.baltiyskiy{background-color: #d8c589;}
.datskiy{background-color: #3e302c;}
//.grecheskiy{background-color: #dbbe85;}
.grecheskiy{background-color: #3e312b;}
.normanskiy{background-color: #beafa0;}
.skandinavskiy{background-color: #a7a39e;}
.skifskiy{background-color: #92735c;}

/*fasade-granit*/
.aljpiyskiy{background-color: #514340;}
.balkanskiy{background-color: #573d2f;}
.karpatskiy{background-color: #9d745f;}
.krymskiy{background-color: #dbc2a6;}
.sayanskiy{background-color: #e9dacc;}
.uraljskiy{background-color: #dab999;}

/*facade-kanon*/
.arizona{background-color: #b7aa95;}
.kanzas{background-color: #755a3e;}
.kolorado{background-color: #c6c4b5;}
.montana{background-color: #d3cf97;}
.nevada{background-color: #c18d6d;}

/*facade-skalistyj-kamen*/
.aljpy{background-color: #8d7e73;}
.altay{background-color: #9b8264;}
.andy{background-color: #b4a086;}
.kavkaz{background-color: #ddc89a;}
.pamir{background-color: #78503b;}
.tibet{background-color: #694c32;}

/*facade-severnyj-kamen*/
.bezhevyy{background-color: #cfc3b2;}
.seryy{background-color: #7a7a7a;}
.terrakot{background-color: #9d8576;}

/*facade-kamen*/
.belyy{background-color: #fff;}
.bezhevyy{background-color: #be8058;}
.svetlo-bezhevyy{background-color: #ddc89a;}
.kvarcit{background-color: #8c6b5a;}
.malahit{background-color: #868877;}
.zheltyy{background-color: #dfc9a0;}
.zhzhenyy{background-color: #402e2f;}

/*brick-standart*/
.bezhevyy-kombi{background-color: #a57d60;}
.gladkiy-bezhevyy{background-color: #c7b974;}
.temno-korichnevyy{background-color: #413736;}


/*tree*/
.antichnyy-dub{background-color: #b98148;}
.belenyy-dub{background-color: #ebd7be;}
.braziljskaya-vishnya{background-color: #351a13;}
.morenyy-dub{background-color: #a58866;}
.sosna{background-color: #e3ca9f;}
.svetloe-derevo{background-color: #f9e9bf;}


/*vinyl-siding*/
.amarantovyy{background-color: #955b5b;}
.goluboy{background-color: #74919c;}
.karameljnyy{background-color: #a18e68;}
.kremovyy{background-color: #dfcdb1;}
.lamantin{background-color: #7f858b;}
.persikovyy{background-color: #e6cdb8;}
.sakura{background-color: #e8cdcf;}
.salatovyy{background-color: #a4bba0;}
.slonovaya{background-color: #dad1b1;}
.temno-bezhevyy{background-color: #745f57;}
.vaniljnyy{background-color: #daceb4;}
.zheltyy{background-color: #ded9ac;}
.bezhevyy-vinil{background-color: #d7cfc1;}


.imbirj{background-color: #ded1ba;}
.korica{background-color: #b2a08a;}
.shafran{background-color: #d1c3a0;}
.toledo {background-color: #dda27a;}
.sand-stone {background-color: #a49c7e;}
.find-stone {background-color: #c2b6a4;}
.dub {background-color: #faeec8;}

.butovyy_grecheskiy{background-color: #d6b579;}
.butovyy_skandinavskiy{background-color: #aeaba7;}
.blok-haus_bezhevyy{background-color: #dbd4c4;}

.kanjon{background-color: #8b6c66;}
.antik{background-color: #e1af76;}
.indigo{background-color: #719ac6;}
.finskaya_korichnevyy{background-color: #63544c;}
