//[data-ral=ral-9003]{background-color: #fefefe;}
//[data-ral="ral-8017"]{background-color: #44322d;}
//[data-ral = ]
//[data-ral = ]
//[data-ral = ]
//[data-ral = ]
//[data-ral = ]
//[data-ral = ]
//[data-ral = ]
//[data-ral = ]
//[data-ral = ]
//[data-ral = ]
//
//




.c-1014 {background-color: #ded09f;}
.c-1015 {background-color: #eadebd;}
.c-1018 {background-color: #f3e03b;}
.c-2004 {background-color: #e75b12;}
.c-3003 {background-color: #8d1d2c;}
.c-3005 {background-color: #5e2028;}
.c-3009 {background-color: #703731;}
.c-3011 {background-color: #7e292c;}
.c-5002 {background-color: #2b2c7c;}
.c-5005 {background-color: #154889;}
.c-6002 {background-color: #07737a;}
.c-6005 {background-color: #276235;}
.c-7004 {background-color: #0f4336;}
.c-7005 {background-color: #9ea0a1;}
.c-7024 {background-color: #6b716f;}
.c-9003 {background-color: #474a50;}

.c-8017 {background-color: #8f4e35;}
.c-5021 {}