

.c-h1_title-index {
  text-align: left;
  color: #6C8795;
  font-family: 'Exo 2 Condensed', sans-serif;
  font-size: 48px;
  line-height: 36px;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 15px;

  &--center {
    text-align: center;
  }
}
.c-h1_title-page {
  text-align: left;
  color: #232323;
  font-family: 'Exo 2 Condensed', sans-serif;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 15px;
  margin-top: 35px;

  &--center {
    padding: 0 10%;
    text-align: center;
  }
}
.c-h2_title-page {
  text-align: left;
  color: #232323;
  font-family: 'Exo 2 Condensed', sans-serif;
  font-size: 26px;
  line-height: 26px;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 15px;
  margin-top: 25px;

  &--center {
    padding: 0 10%;
    text-align: center;
  }
}
.c-h2_title-list {
  text-align: left;
  color: #7E96A2;
  font-family: 'Exo 2 Condensed', sans-serif;
  font-size: 26px;
  line-height: 26px;
  font-weight: 300;
  text-transform: uppercase;
  margin-bottom: 15px;

  a {
    color: #7E96A2;
  }
}

.l-list {
  text-align: justify;
  @include full-width;
  margin-bottom: -10px;

  &_item {
    vertical-align: top;
    display: inline-block;
  }//_item
}

.l-grid {
  font-size: 0;

  &:last-child {
    margin-right: 0;
  }

  &:first-child {
    margin-left: 0;
  }

  &_item {
    font-size: 12px;
    vertical-align: top;
    display: inline-block;
    margin: 0 3px;
  }//_item
}

.c-search {
  display: block;
  width: 100%;
  bottom: 0;
  outline: 0;
  border: 1px solid #CCC;
  border-radius: 4px;
  padding: 10px 15px;
  padding-right: 30px;
  position: relative;


  &-button {
    cursor: pointer;
    outline: none;
    border: none;
    position: absolute;
    width: 12px;
    height: 8px;
    top: 50%;
    margin-top: -4px;
    right: 9px;
    background: url($img-dir + 'search-icin-mouseover.png') 0 0 no-repeat;
  }

  &:focus .c-search-button {
    background: url($img-dir + 'search-icin.png') 0 0 no-repeat;
  }
}

.c-menu {
  text-align: justify;
  @include full-width;
  //margin-bottom: -10px;

  &--inline {
    vertical-align: middle;
    text-align: left;
    display: inline-block;
    li {
      margin: 0 5px;
    }
  }

  &_item {
    display: inline-block;
    vertical-align: top;
  } //_item


  &_link {
    display: block;
    padding: 8px 10px;
    color: #8F9699;
    font-family: 'Exo 2 Condensed', sans-serif;
    font-size: 16px;
    font-weight: 300;
    text-transform: uppercase;
    background-color: #DBDBDB;
    border-radius: 4px;

    &:hover {
      background-color: #6384A2;
      color: #fff;
      text-decoration: none;
      @extend %transition;
    }

    &--icon-left {
      padding-left: 37px;
      position: relative;

      &::after {
        content: '';
        position: absolute;
        width: 21px;
        height: 19px;
        left: 10px;
        top: 9px;
      }
    }//c-menu_link--icon-left

    &--icon-right {
      padding-right: 37px;
      position: relative;

      &::after {
        content: '';
        position: absolute;
        width: 21px;
        height: 19px;
        right: 10px;
        top: 9px;
      }
    }//c-menu_link--icon-right

    /////////////////
    &--icon-all {
      &::after {
        background: url($img-dir + 'menu-icon-all-default.png') left top no-repeat;
      }
      &:hover::after {
        content: '';
        background: url($img-dir + 'menu-icon-all.png') left top no-repeat;
        @extend %transition;
      }
    }

    &--icon-popular {
      &::after {
        background: url($img-dir + 'popular-icon.png') left top no-repeat;
      }
      &:hover::after {
        content: '';
        background: url($img-dir + 'popular-icon-white.png') left top no-repeat;
        @extend %transition;
      }
    }

    &--icon-down {
      &::after {
        top: 10px;
        background: url($img-dir + 'btn-down-icon.png') left top no-repeat;
      }
      &:hover::after {
        content: '';
        background: url($img-dir + 'btn-down-icon-white.png') left top no-repeat;
        @extend %transition;
      }
    }//--icon-down

    &--icon-up {
      &::after {
        top: 10px;
        background: url($img-dir + 'btn-up-icon.png') left top no-repeat;
      }
      &:hover::after {
        content: '';
        background: url($img-dir + 'btn-up-icon-white.png') left top no-repeat;
        @extend %transition;
      }
    }//--icon-up

    &--icon-basket {
      &::after {
        top: 10px;
        background: url($img-dir + 'btn-basket-icon.png') left top no-repeat;
      }

    }

    &--active {
      background-color: #6384A2;
      color: #fff;
    }

    &--buy {
      margin-right: 10px;
      color: #fff;
      outline: none;
      border: none;
      font-weight: 700;
      background-color: #F6AE00;
      text-shadow: 0.5px 0.9px 0 rgba(0, 0, 0, 0.27);
      box-shadow: inset 4.5px 7.8px 27px rgba(255, 240, 0, 0.69), inset 0 0 27px rgba(252, 95, 0, 0.93);

      &:hover {
        background-color: #F6AE00;
        box-shadow: inset 4.5px 7.8px 27px rgba(255, 240, 0, 0.69);
      }
    }//--buy
  }//_link

  &--equipment {
    margin-bottom: 10px;
  }
}

.c-text-icon {
  font-size: 12px;
  font-weight: 300;
  display: inline-block;
  padding-left: 15px;
  position: relative;
  margin-right: 15px;

  &::after {
    content: '';
    position: absolute;
    width: 11px;
    height: 13px;
    left: 0;
    top: 1px;
  }
}

.c-text-icon--number::after {
  background: url($img-dir + 'contact-icon.png') 0 0 no-repeat;
}

.c-text-icon--email::after {
  background: url($img-dir + 'contact-icon.png') -13px 0 no-repeat;
}

.c-text-icon--place::after {
  background: url($img-dir + 'contact-icon.png') -23px 0 no-repeat;
}


.c-text-icon--email-white::after {
  background: url($img-dir + 'contact-icon-white.png') -15px 0 no-repeat;
}

.c-text-icon--place-white::after {
  background: url($img-dir + 'contact-icon-white.png') -26px 0 no-repeat;
}

.c-text-icon--time-white::after {
  background: url($img-dir + 'contact-icon-white.png') -38px 0 no-repeat;
}


//c-button
.c-button {
  display: inline-block;
  cursor: pointer;
  padding: 5px 10px;
  outline: none;
  border: none;
  background-color: #F6AE00;
  box-shadow: inset 4.5px 7.8px 27px rgba(255, 240, 0, 0.69), inset 0 0 27px rgba(252, 95, 0, 0.93);
  color: #FFF;
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
  border-radius: 30px;

  &--expressive {
    padding: 10px 26px;
    font-family: 'Exo 2 Condensed', sans-serif;
    font-size: 18px;
    background-color: #F6AE00;
    border: 1px solid rgba(255, 255, 255, 0.07);
    text-shadow: 0.5px 0.9px 0 rgba(0, 0, 0, 0.27);
    box-shadow: inset 4.5px 7.8px 27px rgba(255, 240, 0, 0.69), 0 0 0 6px rgba(0, 0, 0, 0.07), inset 0 0 27px rgba(252, 95, 0, 0.93);

    span {
      font-family: "Exo 2";
      display: block;
      text-transform: none;
      color: #FFF;
      font-size: 14px;
      font-weight: 300;
    }
  }

  &:hover {
    background-color: #F6AE00;
    box-shadow: inset 4.5px 7.8px 27px rgba(255, 240, 0, 0.69);
  }

  &--left {
    position: relative;
    padding-left: 20px;

    &::after {
      content: '';
      position: absolute;
      top: 9px;
      left: 10px;
      width: 5px;
      height: 7px;
      background: url($img-dir + 'btn-icon-arrows.png') 0 0 no-repeat;
    }
  }

  &--right {
    position: relative;
    padding-right: 20px;

    &::after {
      content: '';
      position: absolute;
      top: 8px;
      right: 10px;
      width: 5px;
      height: 7px;
      background: url($img-dir + 'btn-icon-arrows.png') -5px 0 no-repeat;
    }
  }
}


//c-service
.c-service {
  font-size: 0;

  &_item {
    vertical-align: top;
    display: inline-block;
    width: 20%;
    margin-bottom: 21px;

    &:nth-child(n) {
      .c-service_img::after {
        background: url($img-dir + 'service-icon-red.png') left top no-repeat;
      }
    }

    &:nth-child(2n) {
      .c-service_img::after {
        background: url($img-dir + 'service-icon-purple.png') left top no-repeat;
      }
    }

    &:nth-child(3n) {
      .c-service_img::after {
        background: url($img-dir + 'service-icon-blue.png') left top no-repeat;
      }
    }

    &:nth-child(4n) {
      .c-service_img::after {
        background: url($img-dir + 'service-icon-orange.png') left top no-repeat;
      }
    }

    &:nth-child(5n) {
      .c-service_img::after {
        background: url($img-dir + 'service-icon-black.png') left top no-repeat;
      }
    }
  }//_item

  &_img {
    text-align: center;
    padding-bottom: 32px;
    margin-bottom: 15px;
    position: relative;

    &::after {
      content: '';
      position: absolute;
      width: 32px;
      height: 7px;
      right: 41%;
      bottom: 0;
      background-color: #ccc;
    }
  }//_img

  &_title {
    text-align: center;
    color: #6C8795;
    font-family: 'Exo 2 Condensed', sans-serif;
    font-size: 24px;
    font-weight: 400;
    text-transform: uppercase;

    &--small {
      font-size: 20px;
    }
  }//_title
}

//

//c-link-more
.c-link-more {
  color: #202020;
  display: inline-block;
  position: relative;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  padding-right: 18px;
  margin-top: 5px;

  &:hover {
    text-decoration: underline;
    @extend %transition;
  }

  &::after {
    content: '';
    position: absolute;
    width: 10px;
    height: 6px;
    right: 0;
    bottom: 25%;
    background-color: #ccc;
    background: url($img-dir + 'button-icon.png') left top no-repeat;
  }
}


//c-company-list
.c-company-list {
  text-align: justify;
  @include full-width;
  font-size: 0px;

  .c-company_item {
    overflow: hidden;
    width: 140px;
    height: 70px;
    margin-bottom: 10px;
    display: inline-block;
    border: 1px solid #cfcfcf;
  }
}//c-company-list

//c-title-icon
.c-title-icon {
  text-align: center;
  margin-bottom: 20px;
}

//c-call-input
.c-call-input {
  padding-left: 40px;
  font-size: 16px;
  line-height: 16px;
  color: #fff;
  font-weight: 300;
  background-color: rgba(0, 0, 0, 0.07);
  background-repeat: no-repeat;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  box-shadow: 0.5px 0.9px 0 rgba(255, 255, 255, 0.2);
  position: relative;
  display: block;

  &--phone {
    background-image: url($img-dir + 'phone24x24.png');
    background-position:  7px 8px;
  }

  &--time {
    background-image: url($img-dir + 'time24x24.png');
    background-position:  7px 8px;
  }
}

//back to top
.cd-top {
	display: inline-block;
	// height: 40px;
	// width: 100px;

	position: fixed;
	bottom: 40px;
	right: 10px;
  padding: 5px;
  background-color: #fff;
  border-radius: 4px;


	/* image replacement properties */
	overflow: hidden;
	white-space: nowrap;

	visibility: hidden;
	opacity: 0;

	-webkit-transition: opacity .3s 0s, visibility 0s .3s;
	-moz-transition: opacity .3s 0s, visibility 0s .3s;
	transition: opacity .3s 0s, visibility 0s .3s;

  &_text {
    display: inline-block;
    text-align: left;
    color: #1F1F1F;
    font-family: 'Exo 2 Condensed', sans-serif;
    font-size: 18px;
    line-height: 41px;
    font-weight: 700;
    text-transform: uppercase;
    position: relative;
    padding-left: 19px;

    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 23px;
      height: 28px;
      background: url($img-dir + 'up.png') 0 0 no-repeat;
    }
  }

	&.cd-is-visible, &.cd-fade-out, .no-touch &:hover {
		-webkit-transition: opacity .3s 0s, visibility 0s 0s;
		-moz-transition: opacity .3s 0s, visibility 0s 0s;
		transition: opacity .3s 0s, visibility 0s 0s;
	}

	&.cd-is-visible { /* the button becomes visible */
		visibility: visible;
		opacity: 1;
	}

	&.cd-fade-out { /* if the user keeps scrolling down, the button is out of focus and becomes less visible */
		opacity: .5;
	}

	.no-touch &:hover {
		background-color: rgba(255,255,255, 1);
		opacity: 1;
	}
}

//kamik title

// .kamik-title {
//   text-align: center;
//   color: #232323;
//   font-family: 'Exo 2 Condensed', sans-serif;
//   font-size: 36px;
//   font-weight: 400;
//   text-transform: uppercase;
//   margin-bottom: 11px;
//   margin-top: 30px;
// }

//c-breadcrumbs
.c-breadcrumbs {
  display: inline-block;
  margin-top: 7px;
  a {
    color: #000;
    font-family: "Exo 2";
    font-size: 12px;
    font-weight: 300;
  }


  &_divider {
    margin: 0 2px;
  }
}//c-breadcrumbs

//l-button
.l-button {
  float: right;

  .c-button {
    margin-right: 16px;

    &:last-child {
      margin-right: 0;
    }
  }
}//l-button


//c-show-all
.c-show-all {
  display: block;
  text-align: center;
  color: #3F3F3F;
  font-family: "Exo 2";
  font-size: 12px;
  font-weight: 300;
  position: relative;
  padding-bottom: 10px;
  margin-bottom: 15px;

  &:hover::after {
    transform: translate(-50%, 2px);
    @extend %transition;
  }

  &::after {
    content: '';
    position: absolute;
    width: 11px;
    height: 6px;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
    background: url($img-dir + 'down-icon.png') 0 0 no-repeat;
    @extend %transition;
  }

  &--up {
    padding-top: 15px;
    // margin-top: 20px;
    padding-bottom: 0;

    &::after {
      content: '';
      position: absolute;
      width: 11px;
      height: 6px;
      top: 0;
      left: 50%;
      transform: translate(-50%, 0);
      background: url($img-dir + 'down-icon--up.png') 0 0 no-repeat;
      @extend %transition;
    }
  }

  &--up-left {
    padding-top: 15px;
    padding-bottom: 0;
    text-align: left;

    &::after {
      content: '';
      position: absolute;
      width: 11px;
      height: 6px;
      top: 3px;
      left: 5px;
      background: url($img-dir + 'down-icon--up.png') 0 0 no-repeat;
      @extend %transition;
    }
  }

  &--left {
    text-align: left;
    &::after {
      content: '';
      position: absolute;
      left: 5px;
      background: url($img-dir + 'down-icon.png') 0 0 no-repeat;
      @extend %transition;
    }
  }
}//c-show-all


//spinner
.spinner {
  width: 55px;
  margin-right: 15px;
  padding-right: 15px;
  position: relative;

  &_entry {
    text-align: center;
    line-height: 33px;
    font-size: 22px;
    color: #1F1F1F;
    font-family: 'Exo 2 Condensed', sans-serif;
    width: 38px;
    padding: 0;
    height: 33px;
    background-color: #FFF;
    border: 1px solid #D5D5D5;
    border-radius: 4px;
  }//-entry

  &_controls {
    position: absolute;
    right: 10px;
    top: 0;
    height: 33px;
    //height: 33px;
    //vertical-align: top;
    //display: inline-block;
  }//-controls

  &_button {
    display: block;
    width: 10px;
    height: 5px;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    position: absolute;

    &--up {
      border-bottom: 5px solid #c6c6c6;
      top: 0;
    }

    &--down {
      border-top: 5px solid #c6c6c6;
      bottom: 0;
    }
  }//_button
}//spinner

//pagination

.pagination {
  text-align: center;
  margin-bottom: 30px;

  &_item {
    display: inline-block;
    vertical-align: top;
  }//_item

  &_link {
    display: block;
    width: 30px;
    height: 30px;
    line-height: 28px;
    text-align: center;
    background-color: #fff;
    border: 1px solid #84c8d2;
    border-radius: 4px;
    color: #6C8795;
    margin: 0 3px;

  }//_link

  &_current {
    border: none;
    background-color: #6384A2;
    color: #fff;
  }

  &_button {
    display: block;
    width: 4px;
    height: 30px;
    margin: 0 2px;
    background: url($img-dir + 'pagination-nav.png') 0 50% no-repeat;


    &--next {
      margin: 0 5px;
      background-position: -4px 50%;
    }//--next

    &--next-2x {
      width: 11px;
      background-position: -19px 50%;
    }//--next

    &--prev {
      margin: 0 5px;
    }//--prev

    &--prev-2x {
      width: 10px;
      background-position: -8px 50%;
    }//--prev
  }//_button
}


//price-drop
.price-drop {
  display: block;
  margin-top: 20px;
  margin-bottom: 60px;
  color: #7E96A2;
  font-family: 'Exo 2 Condensed', sans-serif;
  font-size: 14px;
  font-weight: 400;
  text-decoration: underline;
  padding-left: 18px;
  position: relative;

  &::before {
    content: '@';
    font-family: 'Exo 2', sans-serif;
    font-weight: bold;
    position: absolute;
    top: 0;
    left: 0;
    color: #6D8399;

  }
}


//readmore
.c-readmore-small {
  margin-bottom: 10px;
  overflow: hidden;
  max-height: 51px;
}

.c-readmore-big {
  margin-bottom: 10px;
  overflow: hidden;
  max-height: 153px;
}
