.l-ad-unit {
  padding-bottom: 20px;
}

.ad-unit_title {
  color: #37474F;
  font-family: 'Exo 2 Condensed', sans-serif;
  font-size: 33px;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 15px;
}
.ad-unit_item {
  display: inline-block;
  margin-right: 70px;
  @include clear;

  .ad-unit_img {
    // width: 37px;
    // height: 44px;
    float: left;
    margin-right: 10px;
  }//ad-unit_img

  .ad-unit_body {
    float: right;

    .ad-unit_text {
      color: #6A6A6A;
      font-family: 'Exo 2 Condensed', sans-serif;
      font-size: 18px;
      font-weight: 400;
      text-transform: uppercase;
      margin-bottom: 6px;
    }//ad-unit_text
  }//ad-unit_body
}


//
.top-slider {
  // height: 507px;
  position: relative;

  &_title {
    position: absolute;
    left: 0;
    top: 44px;
    color: #374850;
    font-family: 'Exo 2 Condensed', sans-serif;
    font-size: 48px;
    font-weight: 400;
    text-transform: uppercase;

    .top-slider_text {
      display: inline-block;
      margin-bottom: 5px;
      position: relative;

      &::after {
        content: '';
        position: absolute;
        top: 0;
        right: -55px;
        width: 10000px;
        height: 56px;
        background-color: #fff;
        opacity: .8;
        z-index: -1;
      }
    }
  }

  &_link {
    display: inline-block;
    margin-bottom: 23px;
    position: relative;
    width: 17px;
    height: 14px;
    background: url($img-dir + 'top-slider_link.png') 0 0 no-repeat;

    &::after {
      content: '';
      position: absolute;
      top: -9px;
      right: -7px;
      width: 10000px;
      height: 31px;
      background-color: #fff;
      opacity: .8;
      z-index: -1;
    }
  }

  .slick-dots {
    bottom: 15px;
  }
}

.top-slider_item {
  // width: 1920px;
  height: 507px;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  position: relative;
}

//l-services
.l-services {
  padding-top: 20px;
}

//l-equipment
.l-equipment {
  padding: 20px 0px;
  background-color: #f2f2f2;
}

#Container .mix {
	display: none;
}

#Container-portfolio .mix {
	display: none;
}

.active {
  transform: scale(1.02);
  @extend %transition;

  &:hover a{
    background-color: #f9ab00;
    color: #000;
  }
  a {
    background-color: #f9ab00;
    border-radius: 0;
    color: #000;
    font-weight: 700;
  }
}

//deals
.deals {
  height: 675px;
  padding: 30px 0;
  background: url($img-dir + 'deals-bg.jpg') 0 0 no-repeat;
  background-size: cover;


  &_link-all {
    position: absolute;
    bottom: 0;
    right: 50px;
    color: #FFF;
    font-family: "Exo 2";
    font-size: 12px;
    font-weight: 300;
    text-transform: uppercase;
    z-index: 999;
  }//_link-all

  &_slider {
    padding-top: 14px;
  }

  .slick-list {
    padding-left: 10px;
    padding-top: 14px;
  }

  .slick-dots {
    bottom: -65px;
  }
}



.c-tabs {
  text-align: center;
  margin-bottom: 60px;
}

.tabs-menu {
  // height: 30px;
  // display: inline-block;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;

  text-align: center;
  margin-bottom: 26px;
}

.tabs-menu_line {
  vertical-align: baseline;
  position: relative;
  top: -7px;
  width: 5%;
  display: inline-block;
  border-bottom: 1px solid #fff;
  height: 1px;

  &--big {
    width: 13%;
  }
}

.tabs_line-one-left {
  position: absolute;
  right: 105%;
  top: 20px;
  width: 500%;
  height: 1px;
  background-color: #fff;
}
.tabs_line-one-right {
  position: absolute;
  left: 105%;
  top: 20px;
  width: 500%;
  height: 1px;
  background-color: #fff;
}


.tabs-menu_item {
  display: inline-block;
  border: 1px solid #FFF;
  border-radius: 50px;

  &--one_tabs {
    position: relative;
  }
}

.current   {
  border: none;
  @extend %transition;
}

.tabs-menu_link {
  display: block;
  border-radius: 50px;
  padding: 8px 26px;
  text-transform: uppercase;
  text-decoration: none;
  color: #FFF;
  font-family: 'Exo 2 Condensed', sans-serif;
  font-size: 19px;
  font-weight: 300;
}

.current .tabs-menu_link {
  @extend %transition;
  font-family: 'Exo 2 Condensed', sans-serif;
  background-color: #F6AE00;
  font-weight: 400;
  border: 1px solid rgba(255, 255, 255, 0.07);
  text-shadow: 0.5px 0.9px 0 rgba(0, 0, 0, 0.27);
  box-shadow: inset 4.5px 7.8px 27px rgba(255, 240, 0, 0.69), 0 0 0 6px rgba(0, 0, 0, 0.07), inset 0 0 27px rgba(252, 95, 0, 0.93);
}

.tab {
  display: block;
  margin-bottom: 20px;
  width: 100%;
  padding: 0 55px;
}

.tab-content {
    // padding: 20px;
    display: none;
}

#tab-1 {
 display: block;
}



///

//about
.l-about {
  vertical-align: top;
  display: inline-block;
  width: 49%;
  padding-right: 30px;
  margin-bottom: 50px;
  margin-top: 30px;
}

.about {
  margin-bottom: 30px;
}

//partners clients
.l-partners {
  vertical-align: top;
  display: inline-block;
  padding-left: 30px;
  width: 49%;
  margin-bottom: 50px;
}
.partners {
  margin-bottom: 30px;
  margin-top: 30px;
}

//discount
.discount {
  @include clear;

  &_img {
    height: 145px;
    color: #F9AB00;
    font-family: 'Exo 2 Condensed', sans-serif;
    font-size: 135px;
    font-weight: 700;
    text-transform: uppercase;
    float: left;
    width: 105px;
    line-height: 100px;
    margin-right: 10px;
  }//_img

  &_body {
    // float: left;
  }//_body

  &_title {
    color: #F9AB00;
    font-family: 'Exo 2 Condensed', sans-serif;
    font-size: 32px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 10px;
  }//_title
}

//about-number
.about-number {
  .c-h1_title {
    text-align: center;
  }
}

//about-number
.about-number {
  margin-bottom: 20px;
}

.kamik-red {color:$kamik-red;}
.kamik-purple {color:$kamik-purple;}
.kamik-blue {color:$kamik-blue;}
.kamik-orange {color:$kamik-orange;}

.advantages_item {
  // display: inline-block;
  // margin-right: 70px;

  .advantages_number {
    text-align: left;
    font-family: 'Exo 2 Condensed', sans-serif;
    font-size: 72px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 20px;
  }//_number

  .advantages_text {
    text-align: left;
    white-space: nowrap;
    color: #6F8A97;
    font-size: 17px;
    font-weight: 300;
  }//_text
}


//call
.call {
  padding: 30px 0 10px;
  background: url($img-dir + 'call-bg.jpg') 0 0 no-repeat;
  background-size: cover;

  &_item {
    text-align: center;
  }//_item

  &_img {
    margin-bottom: 30px;
    text-align: center;
  }//_img

  .call-field {

    width: 255px;
    margin-bottom: 20px;
    text-align: center;

    &--inline {
      display: inline-block;
      margin-right: 10px;
      margin-left: 10px;
    }
  }

  &_full-width {
    width: 100%;
    display: block;
  }
}


//////////
///////////
/////////////
//services


.p-services {
  margin-bottom: 10px;
}
//////////
///////////
/////////////
//services


.p-equipment {
  margin-bottom: 10px;

  .equipment_item {
    margin-bottom: 20px;
  }//_item
}
//////////
///////////
/////////////
//services

.p-category {
  @include clear;
  margin-bottom: 20px;
}

.l-filter {
  float: left;
  margin-right: 20px;
  @include clear;
}

.filter-goods {
  width: 180px;
  padding: 20px 15px;
  padding-bottom: 5px;
  background-color: #f2f2f2;

  &_title {
    color: #242424;
    font-family: 'Exo 2 Condensed', sans-serif;
    font-size: 20px;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 15px;
  }//_title

  &_list {
    overflow: hidden;
    margin-left: 10px;
    max-height: 172px;
    margin-bottom: 10px;
  }//_list

  &_item {
    margin-bottom: 10px;
  }//_item

  &_link {
    color: #4F4F4F;
    font-family: "Exo 2";
    font-size: 14px;
    font-weight: 500;

    &:hover {
      color: #f9ab00;
      @extend %transition;
    }
  }//_link
}

.l-output {
  margin-left: 200px;
}

.l-category {
  @include clear;
}


//sort
.sort {
  &_title {
    display: inline-block;
    font-family: 'Exo 2 Condensed', sans-serif;
    color: #242424;
    font-size: 20px;
    font-weight: 400;
    text-transform: uppercase;
    margin-right: 16px;
  }//_title
}//sort


//basket
.p-basket {
  padding: 20px 0 5px;
}
.basket-step_text {
  text-align: center;
  color: #4D4D4D;
  font-family: "Exo 2 Thin";
  font-size: 18px;
  font-weight: 100;
  margin-bottom: 20px;
}

.basket-step {
  width: 235px;
  height: 67px;
  margin-bottom: 30px;
  background-size: cover;

  &--personal {
    background: url($img-dir + 'basket-step--personal.png') 0 0 no-repeat;
  }
  &--delivery {
    background: url($img-dir + 'basket-step--delivery.png') 0 0 no-repeat;
  }
  &--payment {
    background: url($img-dir + 'basket-step--payment.png') 0 0 no-repeat;
  }
  &--processed {
    background: url($img-dir + 'basket-step--processed.png') 0 0 no-repeat;
  }

  &_title {
    line-height: 67px;
    margin-left: 70px;
    color: #FFF;
    font-family: "Exo 2 Condensed", sans-serif;
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
  }

  &--disable {
    color: #C2C2C2;
  }
}


//c-basket-form
.c-basket-form {
  width: 570px;
  padding-left: 25px;
  margin-bottom: 35px;

  &_selection {
    padding: 10px 0;
    border-top: 1px solid #b8c8d0;
    border-bottom: 1px solid #b8c8d0;
    margin-bottom: 15px;

    &-item {
      display: inline-block;
      margin-right: 30px;
    }
  }//selection

  &_line {
    margin-bottom: 10px;

    .c-basket-form_input {
      width: 66%;
    }
  }

  &_button {
    text-align: right;
  }

  &_label {
    display: inline-block;
    width: 180px;
  }

  &_physical {
    display: block;
  }

  &_star {
    font-size: 20px;
    font-weight: bold;
    color: #ec7800;
  }
}

.c-basket-form_radio {
  display: none;
}

.c-basket-form_radio + label {
  color: #1E1E1E;
  font-family: "Exo 2";
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  padding-left: 30px;
  position: relative;
  cursor: pointer;
}

.c-basket-form_radio  label:first-child {
  margin-right: 20px;
}

.c-basket-form_radio + label::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 18px;
  height: 18px;
  border-radius: 20px;
  border: 1px solid #959595;
  background-color: #fff;
}
.c-basket-form_radio + label::after {
  content: '';
  position: absolute;
  left: 5px;
  top: 5px;
  width: 9px;
  height: 9px;
  border-radius: 20px;
  background-color: #E0E0E0;
}

.c-basket-form_radio:checked + label::after {
  content: '';
  position: absolute;
  left: 5px;
  top: 5px;
  width: 9px;
  height: 9px;
  border-radius: 20px;
  background-color: #f9ab00;
  @extend %transition;
}

.c-basket-information {
  width: 380px;
  padding-left: 20px;

  &_title {
    color: #DAD9D9;
    font-family: "Exo 2";
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 25px;
    padding-left: 45px;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      top: 50%;
      margin-top: -17px;
      left: 0;
      width: 34px;
      height: 34px;
      background: url($img-dir + 'c-basket-information_title.png') 0 0 no-repeat;
    }
  }

  p {
    color: #C3C3C3;
    font-family: "Exo 2";
    font-size: 12px;
    font-weight: 300;
  }

  &_expression {
    font-size: 12px;
    color: #9A9A9A;
    font-weight: 500;
  }

  &_callback {
    font-size: 12px;
    color: #9A9A9A;
    font-weight: 500;
    text-decoration: underline;
  }
}
.js-first_block,
.js-second_block {
  display: none;
}

//basket-result
.basket-result {
  padding: 15px 20px;
  background-color: #F2F2F2;
  border: 1px solid #D5D5D5;
  margin-bottom: 10px;

  &-quantity {
    font-family: 'Exo 2 Condensed', sans-serif;
    font-size: 25px;
    color: #949494;
    font-weight: 300;
    margin-right: 30px;

    &_number {
      font-size: 25px;
      color: #575757;
      font-weight: 700;
      text-transform: uppercase;
      font-family: 'Exo 2 Condensed', sans-serif;
    }//_number

    &_sum {
      font-family: 'Exo 2 Condensed', sans-serif;
      font-size: 25px;
      color: #EF5532;
      font-weight: 700;
      text-transform: uppercase;
    }//_sum
  }//-quantity
}

//c-card-basket_all-sum

.c-card-basket {
  &_all-sum {
    color: #909090;
    font-family: "Fira Sans";
    font-size: 14px;
    font-weight: 300;

    p {
      margin: 0;
      font-size: 14px;
      line-height: 10px;
    }
  }

  &_layout {
    text-align: center;
    display: table;
  }

  &-action {
    display: table-cell;
    text-align: center;
    vertical-align: middle;

    &_img {
      margin-bottom: 10px;
    }//_img

    &_text {
      color: #909090;
      font-family: "Fira Sans";
      font-size: 14px;
      font-weight: 300;
      text-transform: uppercase;
    }//_text

    //for processed
    &_quantity {
      color: #1F1F1F;
      font-family: "Exo 2 Condensed";
      font-size: 22px;
      font-weight: 300;
      margin-bottom: 6px;
    }//_quantity

    &_sum {
      font-family: "Exo 2 Condensed";
      color: #C5C5C5;
      font-size: 21px;
      font-weight: 400;
      span {
        font-size: 14px;
      }
    }//_sum
  }
}

.all-sum_number {
  color: #C5C5C5;
  font-family: "Exo 2 Condensed";
  font-size: 21px;
  font-weight: 400;
}
//delivery-method
.delivery-method {

  &_title {
    width: 180px;
    display: inline-block;
    vertical-align: top;
  }

  &_body {
    display: inline-block;
    width: 66%;
  }

  &_radio input{
    width: auto;
  }

  &_label {

  }

  &_item {
    margin-bottom: 10px;
  }

  .delivery-method_radio {
    display: none;
  }

  .delivery-method_radio + label {
    display: inline-block;
    color: #5A5A5A;
    font-family: "Exo 2";
    font-size: 12px;
    padding-left: 30px;
    position: relative;
    cursor: pointer;
  }

  .delivery-method_radio  label:first-child {
    margin-right: 20px;
  }

  .delivery-method_radio + label::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 18px;
    height: 18px;
    border-radius: 20px;
    border: 1px solid #959595;
    background-color: #fff;
  }
  .delivery-method_radio + label::after {
    content: '';
    position: absolute;
    left: 5px;
    top: 5px;
    width: 9px;
    height: 9px;
    border-radius: 20px;
    background-color: #E0E0E0;
  }

  .delivery-method_radio:checked + label::after {
    content: '';
    position: absolute;
    left: 5px;
    top: 5px;
    width: 9px;
    height: 9px;
    border-radius: 20px;
    background-color: #f9ab00;
    @extend %transition;
  }
}//delivery-method

///basket-processed
.basket-processed {
  text-align: center;
  margin-bottom: 35px;

  &_title {
    font-family: 'Exo 2 Condensed', sans-serif;
    color: #6C8795;
    font-size: 24px;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 25px;
  }

  &_img {
    padding-bottom: 24px;
    position: relative;
    margin-bottom: 15px;

    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 50%;
      width: 32px;
      margin-left: -16px;
      height: 7px;
      background: url($img-dir + 'service-icon-orange.png') 0 0 no-repeat;
    }

    img {
      max-width: 100%;
      height: auto;
    }
  }

  &_text {
    font-family: "Exo 2";
    color: #000;
    font-size: 18px;
    font-weight: 300;
    margin-bottom: 30px;
    padding: 0 25%;

    span {
      color: #6C8795;
      font-size: 24px;
      font-weight: 400;
      text-transform: uppercase;
    }
  }

  .c-button {
    margin: 0 5px;
  }
}

//product-popap
.product-popap {
  display: none;
  width: 550px;
  height: auto;
  //overflow: auto;
  @include clear;
  text-align: justify;
  font-size: 13px;

  &_title {
    color: #7e96a2;
    font-size: 21px;
    letter-spacing: -1px;
    line-height: 1.3;
    margin-bottom: 20px;
  }//_title

  &_text {
    text-align: justify;
    font-size: 13px;
    line-height: 1.6;
    margin-bottom: 20px;
    font-weight: 300;
  }//_text

  &_left {
    color: #7e96a2;
    font-size: 24px;
    float: left;
  }//_left

  &_right {
    color: #7e96a2;
    font-size: 24px;
    float: right;
  }//_right
}

//popap
.popap-callback,
.popap-processed,
.popap-question,
.popap-discount,
.popap-complex {
  display: none;
  padding: 10px 40px;
  padding-bottom: 20px;
  height: auto;
  @include clear;
  text-align: center;
  font-size: 13px;

  .c-button {
    margin-top: 10px;
  }
}


.popap_title {
  text-align: center;
  color: #6C8795;
  font-family: 'Exo 2 Condensed', sans-serif;
  font-size: 24px;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.popap_field {
  margin-bottom: 14px;
}

.popap-label {
  display: block;
  font-size: 12px;
  text-align: left;
  margin-bottom: 3px;
}

.popap-input, .popap-textarea {
  width: 100%;
}

.popap-textarea {
  height: 100px;
  padding: 10px;
}
//
.is-vis {

}
.popap-processed {

  &_img {
    position: relative;
    text-align: center;
    padding-bottom: 20px;
    margin-bottom: 20px;

    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 50%;
      width: 32px;
      margin-left: -16px;
      height: 7px;
      background: url('../img/service-icon-orange.png') 0 0 no-repeat;
    }


    img {
      max-width: 100%;
      height: auto;
    }
  }

  &_text {
    text-align: center;
    font-size: 14px;
    line-height: 1.2;
  }
}
.popap-discount_title {
  white-space: nowrap;
}



//slick
.slick-prev:before, .slick-next:before {
  font-size: 26px;
}

.slick-prev {
    left: -30px;
}


//fast-call
#fast-call {

}

#fast-call-btn {

}

#thx {
  position: fixed;
  width: 200px;
  left: 50%;
  bottom: 50%;
  padding: 50px 100px;
  border: 3px solid #eee;
  background-color: red;
  text-align: center;
}
