html {
  // width: 100%;
  height: 100%;
  overflow: hidden;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

.conf-bg {
  // height: 100%;
  background: url('../img/conf-bg-1.jpg') 0 50% no-repeat;
  // margin-top: -500px;
  background-size: cover;
}

/*icon*/
.icon {
  margin-right: 4px;
}

.arrow-icon {
  width: 8px;
  height: 8px;
  fill:#FFF;
}

.conf-menu-icon {
  display: inline-block;
  fill:#cbcbcb;
  @extend %transition;
}


/*========================*/
/*menu icon*/
/*========================*/

.roof-icon {
  width: 68px;
  height: 26px;
}

.facade-icon {
  width: 51px;
  height: 36px;
}

.drains-icon {
  width: 47px;
  height: 31px;
}

.plinth-icon {
  width: 63px;
  height: 29px;
}

.fences-icon {
  width: 63px;
  height: 31px;
}

.angles-icon {
  width: 67px;
  height: 41px;
}

.porch-icon {
  width: 43px;
  height: 16px;
}

.plat-icon {
  width: 23px;
  height: 41px;
}


/**/
.conf-btn {
  display: inline-block;
  padding: 6px 8px;
  border: 1px solid #5598DE;
  color: #000;
  border-radius: 4px;
  font-family: "Calibri";
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;

  &--bg {
    border: none;
    background-color: #5598de;
    color: #fff;
  }
}

.detail-info_btn {
  color: #000;
  font-family: "Calibri";
  font-size: 12px;
  font-weight: 400;
  border-bottom: 1px dotted #000;
}

/*detail-info*/

.detail-info {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 482px;
  border-radius: 4px;
  font-family: "Arial";
}

.detail-info_top {
  padding: 10px 14px;
  background-color: #FFF;
  height: 50px;
  @include clear;
}

.detail-info_logo {
  float: left;
  width: 115px;
  height: 32px;
  background: url($img-dir + 'logo-detail.png') 0 0 no-repeat;
}

.detail-info_text {
  color: #797878;
  font-family: "Calibri";
  font-size: 11px;
  font-weight: 400;
}

.detail-info_right {
  float: right;
  text-align: right;
}

.detail-info_body {
  padding: 18px 14px;
  opacity: 0.9;
  background-color: #FFF;
}

.detail-info_list {
  margin-left: 14px;
  margin-bottom: 18px;
}

.detail-info_item {
  margin-bottom: 10px;
  font-size: 0;
}

.detail-info_point {
  font-family: "Arial";
  color: #222;
  font-size: 12px;
  font-weight: 700;
}

.detail-info_properties {
  font-family: "Arial";
  color: #5798E2;
  font-size: 12px;
  font-weight: 700;
  text-decoration: underline;
  padding: 0px 4px;
  border-right: 1px solid #000;

  &:last-child {
    border: none;
  }
}

/*conf-menu*/

.conf-menu {
  position: absolute;
  top: 0;
  left: 0;
  width: 80px;
  height: 100%;
  padding: 0 6px;
  padding-top: 19px;
  background-color: #fff;
  text-align: center;
  font-family: "Arial";
}

.conf-menu_item {
  color: #000;
  margin: 26px 0;
  @extend %transition;
}

.conf-menu_item:hover .conf-menu_link {
  color: #5598DE;
  @extend %transition;
}

.conf-menu_item:hover .conf-menu-icon {
  fill: #5598DE;
  @extend %transition;
}

.conf-menu_title {
  font-size: 11px;
  font-weight: 700;
  margin-bottom: 5px;
}

/*conf-submenu*/

.conf-submenu {
  //display: none;
  position: absolute;
  top: 0;
  left: 100px;
  width: 316px;
  padding: 19px;
  padding-top: 50px;
  height: 100%;
  background-color: #fff;
  text-align: left;
}

.conf-submenu_close {
  position: absolute;
  top: 14px;
  right: 16px;
  width: 10px;
  height: 10px;
  background: url($img-dir + 'close-icon.png') 0 0 no-repeat;
}

/*javascript*/
.js-show-conf-submenu {
  display: block;;
}

/**/

.conf-properties {
  margin-bottom: 26px;
}

.conf-properties_title {
  color: #454545;
  font-family: "Roboto";
  font-size: 12px;
  font-weight: 400;
  margin-bottom: 10px;
}

.conf-properties_btn {
  display: inline-block;
  padding: 5px 13px;
  color: #1B1B1B;
  font-family: "Roboto";
  font-size: 12px;
  font-weight: 400;
  background-color: #D1D1D1;
  border-radius: 50px;
  @extend %transition;

  &:hover {
    transition: all .2s ease-out;
    background-color: #5598DE;
    color: #fff;
  }
}

.conf-metal {
  position: absolute;
  //top: 10%;
  //left: 23%;
  //width: 1258px;
  //height: 430px;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
}