html {
  // width: 100%;
  height: 100%;
  //overflow: hidden;
  margin: 0;
  padding: 0;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

//
// @keyframes conf_transparent {
//   from { opacity: 0; }
//   to { opacity: 1;}
//  }

.conf-bg {
  min-height: 100%;
  background-size: cover;
  // display: none;
  // animation: conf_transparent 5s ease 10s;
}


/*icon*/
.icon {
  margin-right: 4px;
}

.arrow-icon {
  width: 8px;
  height: 8px;
  fill:#FFF;
}

.conf-menu-icon {
  display: inline-block;
  fill:#cbcbcb;
  @extend %transition;
}

/*========================*/
/*menu icon*/
/*========================*/

.roof-icon {
  width: 68px;
  height: 26px;
}

.facade-icon {
  width: 51px;
  height: 36px;
}

.drains-icon {
  width: 47px;
  height: 31px;
}

.plinth-icon {
  width: 63px;
  height: 29px;
}

.fences-icon {
  width: 63px;
  height: 31px;
}

.angles-icon {
  width: 67px;
  height: 41px;
}

.porch-icon {
  width: 43px;
  height: 16px;
}

.plat-icon {
  width: 23px;
  height: 41px;
}

/**/
.conf-roof {
  //background: url($img-dir + 'gibkaya-cherepitsa_bobrovyiy-hvost_krasnyiy.png') 0 0 no-repeat;
}


/**/
.conf-btn {
  display: inline-block;
  padding: 6px 8px;
  border: 1px solid #5598DE;
  color: #000;
  border-radius: 4px;
  font-family: "Calibri";
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;

  &--bg {
    border: none;
    background-color: #5598de;
    color: #fff;
  }
}

.detail-info_btn {
  color: #000;
  font-family: "Calibri";
  font-size: 12px;
  font-weight: 400;
  border-bottom: 1px dotted #000;
}

/*detail-info*/

.detail-info {
  position: absolute;
  overflow: hidden;
  top: 24px;
  right: 24px;
  width: 482px;
  border-radius: 4px;
  font-family: "Arial";
  z-index: 999;
}

.detail-info_top {
  position: relative;
  z-index: 2;
  padding: 10px 14px;
  background-color: #FFF;
  height: 50px;
  @include clear;
}

.detail-info_logo {
  float: left;
  width: 115px;
  height: 32px;
  background: url($img-dir + 'logo-detail.png') 0 0 no-repeat;
}

.detail-info_text {
  color: #797878;
  font-family: "Calibri";
  font-size: 11px;
  font-weight: 400;
}

.detail-info_right {
  float: right;
  text-align: right;
}

.detail-info_body {
  padding: 18px 14px;
  opacity: 0.9;
  background-color: #FFF;
  transform: translateY(-2000px);
  @extend %transition;
}

.detail-info-show {
  transform: translateY(0);
  @extend %transition;
}

.detail-info_list {
  margin-left: 14px;
  margin-bottom: 18px;
}

.detail-info_item {
  margin-bottom: 10px;
  font-size: 0;
}

.detail-info_point {
  font-family: "Arial";
  color: #222;
  font-size: 12px;
  font-weight: 700;
}

.detail-info_properties {
  font-family: "Arial";
  color: #5798E2;
  font-size: 12px;
  font-weight: 700;
  text-decoration: underline;
  padding: 0px 4px;
  border-right: 1px solid #000;

  &:last-child {
    border: none;
  }
}

/*conf-menu*/

.conf-menu {
  position: absolute;
  top: 0;
  left: 0;
  //width: 80px;
  height: 100%;
  padding: 0 6px;
  padding-top: 19px;
  background-color: #fff;
  text-align: center;
  font-family: "Arial";
  z-index: 999;
}

.conf-menu_item {
  color: #000;
  margin: 26px 0;
  @extend %transition;
}

//
//.js-show-conf-submenu .conf-submenu {
//  display: block;
//}


.conf-menu_link {
  width: 68px;
  display: block;
  position: relative;
  color: #000;
}

.js-show-pointer::after {
  content: '';
  position: absolute;
  top: 50%;
  margin-top: -4px;
  right: -26px;
  border: 8px solid transparent;
  border-right-color: #ffffff;
}


.conf-menu_item:hover .conf-menu_link {
  color: #5598DE;
  @extend %transition;
}

.conf-menu_item:hover .conf-menu-icon {
  fill: #5598DE;
  @extend %transition;
}

.conf-menu_title {
  font-size: 11px;
  font-weight: 700;
  margin-bottom: 5px;
}

/*conf-submenu*/



.conf-submenu {
  position: absolute;
  top: 0;
  left: 100px;
  width: 316px;
  padding: 19px;
  padding-top: 50px;
  height: 100%;
  background-color: #fff;
  text-align: left;
  display: none;
}

.conf-submenu_title {
  color: #5598DE;
  font-family: "roboto_condensedbold";
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 15px;
}


.conf-submenu_close {
  position: absolute;
  top: 14px;
  right: 16px;
  width: 10px;
  height: 10px;
  background: url($img-dir + 'close-icon.png') 0 0 no-repeat;
}

/*javascript*/
.js-show-conf-submenu {
   display: block;
  //visibility: visible;
}

/**/

.conf-properties {
  margin-bottom: 24px;
}

.conf-properties_title {
  color: #454545;
  font-family: "Roboto";
  font-size: 12px;
  font-weight: 400;
  margin-bottom: 4px;
}

.conf-properties_subtitle {
  color: #1B1B1B;
  font-family: "Roboto";
  font-size: 12px;
  font-weight: 100;
  font-style: italic;
  margin-bottom: 4px;
}

.conf-properties_btn {
  display: inline-block;
  padding: 5px 13px;
  color: #1B1B1B;
  font-family: "Roboto";
  font-size: 12px;
  font-weight: 400;
  background-color: #D1D1D1;
  border-radius: 50px;
  margin-bottom: 6px;
  @extend %transition;

  &:hover {
    @extend %transition;
    background-color: #5598DE;
    color: #fff;
  }
}

/*conf-curren*/
.conf-current {
  background-color: #5598DE;
  color: #fff;
  @extend %transition;
}

.conf-block {
  position: absolute;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 50%;
}

.conf-block_img {
  max-width: 100%;
  height: auto;
  position: relative;
  top: -25%;
}

/*conf-color_item*/
.conf-color_item {
  display: inline-block;
  width: 30px;
  height: 30px;
  background-color: #ccc;
  margin-right: 3px;
  margin-bottom: 3px;
  border: 1px solid #D4D4D4;
  @extend %transition;
}

.color_is-active {
  border: 1px solid #D4D4D4;
  transform: scale(.8);
  @extend %transition;
}



@keyframes bounce {
  0% {
    -webkit-transform: translateY(-2000px);
    -moz-transform: translateY(-2000px);
    -ms-transform: translateY(-2000px);
    -o-transform: translateY(-2000px);
    transform: translateY(-2000px);
  }
  100% {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }
}
