html {
  // width: 100%;
  height: 100%;
  overflow: hidden;
}

.conf-bg {
  // height: 100%;
  background: url('../../img/conf-bg.jpg') 0 50% no-repeat;
  // margin-top: -500px;
  background-size: cover;
}


.conf-menu {
  position: absolute;
  top: 0;
  left: 0;
  width: 90px;
  height: 100%;
  background-color: #ccc;
}
